# TG Denemeleri - Google Drive salt-okunur bağlantısı
GOOGLE_DRIVE_TG_FOLDER_ID=
GOOGLE_DRIVE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_DRIVE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
